.nav {
     width: 40px;
     height : 40px;
   border-radius: 10px;

    
}
#nav {
   display: flex;
   gap: 20px;
}
.navbar {
    direction: rtl;
    font-size: 50;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.dir {
  
        display: flex;
        /* gap: 10px; */
     
}
.ul {
    margin: 30px;
    font-size: large;
    color: black;
    text-decoration: none;
}
.ul:hover {
    color: blue; 
    text-decoration:underline blue;
}
.main {
    display: flex;
}
#main{
    width: 500px;
    height: 500px;
}
.desc{
    width: 60%;
    align-items: center;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.img{
    padding-top: -20px;
}
#but{
  gap: 40px;
}
.but{
    border-radius: 10px;
    padding: 5px ;
    margin-top: 5px;
    margin-inline: 10px;
}
#but1{
    background-color:#282ba8;
    color: white;
    font-size: large;
}
.logo {
    width: 50px;
    height: 50px;
    display: flex;
    
 }
 #logo {
    display: flex;
    gap: 40px;
    padding: 50px;
 }
 .name {
    padding-right: 550px;
    font-size: x-large;
    padding-top: 20px;
 }
 #name {
    padding-left: 20px;
    font-size: xx-large;
    padding-top: 30px;
 }
 .link {
    padding-top: 10px;

 }