h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin: 50px;
    line-height: 1.5;
}
